.outline {
  text-align: center;
  width: 14rem;
  padding: 0.7rem 1rem;
  color: var(--orange-1);
  background-color: transparent;
  border: 0.01rem solid var(--orange-1);
  border-radius: 0.4rem;
}

.solid {
  text-align: center;
  width: 14rem;
  padding: 0.7rem 1rem;
  color: var(--white);
  background-color: var(--orange-1);
  border: 0;
  border-radius: 0.4rem;
}

.successAction {
  width: 8rem;
  color: var(--white);
  background-color: var(--green);
  padding: 0.5rem 1.5rem;
  text-align: center;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  font-weight: 700;

  &:hover {
    background-color: #4EAE77;
  }
}

.dangerAction {
  width: 8rem;
  color: var(--red);
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  text-align: center;
  border: 0.1rem solid var(--red);
  border-radius: 0.5rem;
  font-weight: 700;
}